* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  background-color: navy;
}

body {
  margin: 0;
}

h1 {
  display: flex;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.125rem;
  color: lime;
  justify-content: center;
  margin: 0.25rem;
}

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.05rem;
  color: hotpink;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-height: 20rem;
  padding: 0.125rem;
  border: 0.125px dashed lime;
  margin-top: 0.5rem;
  border-radius: 20px;
}
